form {
	font-weight: bold;
}

h1 {
	font-family: 'Fredoka One', cursive;
}

.footer {
	font-family: 'Libre Barcode 39', cursive;
	font-size: 40px;
  	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 0.75rem;
  	padding-top: 1.5rem;
  	background-color: #efefef;
  	text-align: center;
}